<%= turbo_stream_from @channel %>
<div class="flex flex-col h-full">
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">#<%= @channel.name %></h3>
  </div>

  <%= turbo_frame_tag 'messages', src: channel_messages_path(@channel), class: 'flex flex-col flex-grow' %>

</div>
