<li id="<%= dom_id message %>" class="py-4">
  <div class="flex space-x-3">
    <svg class="h-8 w-8 rounded-full bg-gray-200 p-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
    </svg>
    <div class="flex-1 space-y-1">
      <div class="flex items-center justify-between">
        <h3 class="text-sm font-medium">&lt;unknown&gt;</h3>
        <p class="text-sm text-gray-500"><%= distance_of_time_in_words DateTime.now, message.created_at %></p>
      </div>
      <p class="text-sm text-gray-500"><%= message.body %></p>
    </div>
  </div>
</li>
